<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.superstudent">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.indooratlas.android.sdk.API_KEY"
            android:value="8be7a597-6fd3-4e74-9c54-0841ee860e0d" />
        <meta-data
            android:name="com.indooratlas.android.sdk.API_SECRET"
            android:value="DA3mE567auyu3L5KOnXGTDwJSlsPNWsnYYQwdkrkdYRZBv23Ks0!mk9VbQLC0KDJ!)0cvyVeCQCSoPaP(N2T3bs%IFX1MkG5KKyDDbg0gZJ%A8%t!acBMgaOn1fulhPS" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Profile.SignUp_Activity"
            android:label="@string/title_activity_sign_up_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.Login_Activity"
            android:label="@string/title_activity_login_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Quotes.Home_Activity"
            android:label="@string/title_activity_home_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.Profile_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Materials.Materials_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ToDoList.ToDo_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Map.Map_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ToDoList.AddTask_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Show_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Materials.Year1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Materials.Year2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Materials.Year3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Materials.Year4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Materials.AddMaterialLink"
            android:screenOrientation="portrait" />
        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.example.BTChat.BTChat" />
        <activity android:name="com.example.BTChat.DeviceList" />
        <activity android:name="com.example.BTChat.BTSettings"></activity>
    </application>

</manifest>
